/* Style for all components in /components/home-pages and beyond 
   (ex. /components/home-pages/assignments */

/* Exported to Home.js */

.home{
    background-color: #f5f5f5;
    height: 1000px;
}

.home-nav{
    padding: 0px !important;
}

.navbar{
    position: fixed;
}

.home-btn{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

@media only screen and (min-width: 500px) {
    .home-btn{
        display: none;
    }
}

.account{
    z-index: 1;
    display: block;
    /* width: 200px; */
    /* height: 1200px;  */
    background-color: #37474f;
}

.side-nav{
    margin: 0;
}

.side-nav li{
    padding: 30px 0;
    background-color: #81d4fa;
}

.side-nav li:hover{
    background-color: #53add6;
}

.page-heading{
    border-bottom: 1px solid gray;
}

.add-form-heading{
    padding-right: 10px;
}

/* .bottom-nav{
    position: fixed;
} */



/* WILL MIGRATE ALL OF THESE STYLES TO THIER RESPECTIVE FOLDERS */

.assignment-header{
    font-size: 25px;
}

.assignment-date{
    font-style: italic;
}

.contact{
    color: white;
    font-size: 15px;
    padding-right: 15px;
}

/* Work.js */
.edit, .delete{
    text-decoration: underline;
    cursor: pointer;
}

.delete{
    color: red;
}

.title-drop-down{
    padding: 3px;
    border-radius: 4px;
    border: 1px solid gray;
}